@CHARSET "UTF-8";

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

nav li {
	float: left;
	border-right: 1px solid white;
}

nav li a {
	display: block;
	width: 200px;
	color: white;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
	background-color: #111;
	color: white;
}

nav .active {
	background-color: blue;
	color: white;
}



footer {
	height: 50px;
	font-size: 70%;
}